.container {
	display: inline-block;
	position: relative;
}

.trigger {
	position: relative;
	padding: 0;
	z-index: 1;
}

.menu {
	position: absolute;
	width: 260px;
	z-index: 2;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 5px #99999977;
	overflow-x: hidden;
	overflow-y: auto;

	&.dropUp {
		bottom: 100%;
	}

	&.dropDown {
		top: 100%;
	}

	&.dropLeft {
		right: 0;
	}

	&.dropRight {
		left: 0;
	}

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			padding: 8px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			gap: 12px;
			align-items: center;
			cursor: pointer;

			&:first-child {
				padding-top: 12px;
			}

			&:last-child {
				padding-bottom: 12px;
			}

			&:hover {
				background: #f6f6f6;
			}

			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
}
